body {
  background-image: url(j.jpg);
  background-size: cover;
  color: black;
}

.navbar {
  background-color: transparent;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  font-size: 20px;
  text-transform: uppercase;
}

.navbar a {
  color: black;
  text-decoration: none;
}

header {
  text-align: center;
  padding: 100px;
}

.game-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.game-icons figure {
  margin: 20px;
  text-align: center;
}

.game-icons img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.game-icons figcaption {
  font-size: 18px;
  margin-top: 10px;
}

.game-icons p {
  font-size: 14px;
  margin-top: 5px;
  text-align: center;
}

footer {
  text-align: center;
  background-color: transparent;
  color: black;
  font-size: 16px;
  padding: 20px 0;
}
