body {
  background-image: url(j.jpg);
  background-size: cover;
  color: black;
}

.navbar {
  background-color: black;
  overflow: hidden;
}

.navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

header {
  text-align: center;
  padding: 100px;
}

.game-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.game-icons figure {
  margin: 20px;
  text-align: center;
}

.game-icons img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.game-icons figcaption {
  font-size: 18px;
}

footer {
  text-align: center;
  background-color: black;
  color: white;
  padding: 20px;
}
